.titolo{
    color:white;
    background-color:rgb(49, 0, 163);
    height: 90px;
    font-size: 50px;
    text-align:center;
}

.inizio{
    display: flex;
}

.img{
    width:80%;
    height:80%;
    padding-left: 10%;
    align-items: center;
}